* {
    
    margin: 0;
    padding: 0;

    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: linear-gradient(to right, black, #8a8371);
}

button {
    height: 45vw;
    width: 45vw;
    border-radius: 50%;
    border: 2px solid antiquewhite;
    margin: 0 auto;
    background-color: red;
    color: azure;
    font-size: 2.2rem;
    font-weight: bold;
    box-shadow: 5px 5px 5px 2px #f76565,
     -5px -5px 5px 2px #a93c3c;
    transition: all 0.5s ease;
}

.pressed {
    background-color: rgb(19, 206, 19);
    box-shadow: 5px 5px 5px 2px #88ef75,
     -5px -5px 5px 2px #21d138;
    transform: scale(0.92);
}

