* {
    
    margin: 0;
    padding: 0;

    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: linear-gradient(to right, black, #8a8371);
}

button {
    height: 55vw;
    width: 55vw;
    border-radius: 50%;
    border: 2px solid antiquewhite;
    margin: 0 auto;
    background-color: red;
    color: azure;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 0 0 20px 5px #f76565;
    transition: all 0.5s ease;
}

.pressed {
    background-color: rgb(19, 206, 19);
    box-shadow: 0 0 20px 5px #88ef75;
    transform: scale(0.92);
}

